In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from faker import Faker
import random

In [5]:
fake = Faker()
fake_data = []

for i in range(1000):
    first_name = fake.first_name()
    last_name = fake.last_name()
    email = fake.email()
    area_code = fake.random_int(min=100, max=999, step=1) # random 3 digit number
    state = fake.state()
    country = fake.country()
    

    fake_data.append([first_name, last_name, email, area_code, state, country])

columns = ['First Name', 'Last Name', 'Email', 'Area Code', 'State', 'Country']

In [6]:
df = pd.DataFrame(fake_data, columns=columns)

df

,First Name,Last Name,Email,Area Code,State,Country
0,Danielle,Romero,dfitzpatrick@example.com,843,Mississippi,Mauritius
1,Nina,Castro,owencolleen@example.org,762,Pennsylvania,Solomon Islands
2,Audrey,Spencer,obriengina@example.org,194,Idaho,Sierra Leone
3,Melissa,Collins,donnathomas@example.net,244,Georgia,Zambia
4,Mary,Willis,dcaldwell@example.net,727,North Carolina,Dominican Republic
...,...,...,...,...,...,...
995,Nathaniel,Thompson,julieclayton@example.org,185,Utah,Nepal
996,Eric,Schneider,powerskatelyn@example.com,909,New Hampshire,Macao
997,Molly,Decker,huntmarcus@example.org,269,West Virginia,Luxembourg
998,Jessica,Valenzuela,jodi06@example.com,651,Michigan,Finland
999,Angela,Morales,alisonchang@example.com,427,Arkansas,Greenland

In [ ]:


def generate_random_data(row_amount, data_set_type):
    fake_data = []
    if data_set_type == 'Call Center'
        for i in range(row_amount):
    if data_set_type == 'App'
        for i in range(row_amount):
    if data_set_type == 'Billing'
        for i in range(row_amount):